<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>

<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
<uses-permission android:name="android.permission.INTERNET" />

<application>

    <service
        android:name=".playback.AudioService"
        android:foregroundServiceType="mediaPlayback"
        android:exported="false">

        <intent-filter>
            <action android:name="androidx.media3.session.MediaSessionService"/>

            <!-- Backwards compatibility -->
            <action android:name="android.media.browse.MediaBrowserService"/>
        </intent-filter>

    </service>

</application>

</manifest>