<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mattrobertson.greek.reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.CoreActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BooksActivity"
            android:label="Greek New Testament Reader"
            />

        <activity
            android:name=".PlanReaderActivity"
            android:label="Plan"
            android:parentActivityName=".BooksActivity"
            />

        <activity
            android:name=".PlanCompletedActivity"
            android:label="Plan Completed!"
            android:parentActivityName=".BooksActivity"
            />

        <activity
            android:name=".ReaderActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BooksActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChapterVocabActivity"
            android:label="Vocab"
            android:parentActivityName=".ReaderActivity"
            />

        <activity
            android:name=".MyVocabActivity"
            android:label="My Vocab"
            android:parentActivityName=".ReaderActivity"
            android:theme="@style/Theme.AppCompat.Light"
            />
        <activity
            android:name=".ConcordanceActivity"
            android:label="Concordance"
            android:parentActivityName=".ReaderActivity"
            />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".BooksActivity"
            />
        <activity
            android:name=".AppPrefsActivity"
            android:label="Preferences"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            />

    </application>

</manifest>